<h2 class="section-title">{{ .titles.about.title }} <a href="https://sensys-buildsys-21.dei.uc.pt/yt/room5">YouTube link</a></h2>

<h4 class="section-title">About RLEM'21</h4>

<p itemprop="description">
    {{ .description }} Following BuildSys's directive, the conference will be held virtually {{ .date }}. More information about how to join the virtual sessions will be posted here soon.
</p>

<p itemprop="description">
    RLEM'21 will be held in conjunction with <a href="http://buildsys.acm.org/2021/">ACM BuildSys'21</a>
</p>

<!-- <img src="logo.png" alt="Logo"> -->
