<h2 class="section-title">{{ .titles.cfp.title }}</h2>

<div class="venue">

	<p>The 1st {{ .title }} aims to ...</p>

	<h3>Topics of Interest</h3>
<p>Topics of interest include, but are not limited to:</p>
<ul>
<li>Challenges and Opportunities for RL in Building and Cities</li>
<li>Explorations of model vs model-free RL algorithms and hybrids</li>
<li>Comparisons of RL algorithms to other control solutions, e.g., model-predictive control</li>
<li>Frameworks and datasets for benchmarking algorithms</li>
<li>Theoretical contributions to the RL field brought about by constraints/challenges in the buildings/cities domain</li>
<li>Applications (demand response, HVAC control, occupant integration, traffic scheduling)</li>
</ul>

</div>
