<h2 class="section-title">{{ .titles.speakers.title }}</h2>

<p><a href="https://www.ornl.gov/staff-profile/helia-zandi">Helia Zandi</a> (Modeling and Simulation Software Engineer at Oak Ridge National Laboratory) </p>

 <img src="img/helia_zandi.jpg" alt="" style="width:300px;height:300px;">

<p><b> TBD
</b></p>

<p><b>Abstract: TBD </b>

<p><b>Bio: TBD </b>
</p>

<p><a href="https://www.colorado.edu/ceae/gregor-p-henze">Gregor Henze</a> (Professor, CU Boulder) </p>

 <img src="img/gregor_henze.png" alt="" style="width:300px;height:300px;">

<p><b> TBD
</b></p>

<p><b>Abstract: TBD </b>

<p><b>Bio: TBD </b>
</p>
